@backgroundColor: #f5f6fa;
@headerColor: #182C61;
@textColor: #fff;
@buttonColor: #44bd32;
@buttonHoverColor: #4cd137;
@containerMaxWidth: 1024px;
@paddingSection: 56px 0;
@menuItemMarginLeft: 24px;
@productItemMarginTop: 40px;
@productButtonPadding: 8px 0;
@borderRadius: 8px;
@imageBorderRadius: 16px;

@breakpoints: {
    tablet: 1023px;
    mobile: 767px;
};